.about {

  .about__avatar {
    margin-bottom: 1rem;
    text-align: center;

    @media (min-width: 768px) {
      text-align: left;
    }
  }

  .about__description {
    padding: 45px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 5px 20px 0 rgba(69,67,96,.1);
  }
}


.about__content-box {

  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
  }
}

@media only screen and(min-width: 768px) {

  .about__content-box {

    &::before {
      top: 25%;
      left: 0;
      border-top: 10px solid transparent;
      border-right: 15px solid #fff;
      border-bottom: 10px solid transparent;
    }
  }
}

@media only screen and (max-width: 768px) {

  .about__content-box {

    &:before {
      top: -10px;
      left: 50%;
      transform: translateX(-7.5px);
      border-right: 10px solid transparent;
      border-bottom: 10px solid #fff;
      border-left: 10px solid transparent;
    }
  }
}

