.card-certificate {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-left: 75px;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0 5px 20px 0 rgba(69,67,96,.1);

  @media only screen and(min-width: 768px) {
    min-height: 230px;
  }

  .card-certificate__wrapper {
    position: relative;
    flex-grow: 1;
  }

  .card-certificate__icon {
    position: absolute;
    top: 20px;
    left: -60px;
    width: 50px;
    height: 50px;
    color: #302683;
  }

  .card-certificate__time {
    color: #b6b8ce;
    font-size: 14px;
  }

  .card-certificate__title {
    margin: 8px 0;
    font-size: 20px;
    font-weight: 700;
  }

  .card-certificate__list-links {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .card-certificate__button:not(:last-child) {
    margin-right: .5rem;
  }
}

