.header {
  padding: 20px 0;
  border-bottom: solid 1px rgba(255, 255, 255, .1);
  background: #000;

  .navbar {
    width: 100%;
    padding: 0;
  }

  .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar-dark {
    .navbar-nav {
      .nav-link {
        color: #fff;
      }
    }
  }

  .nav-link {
    padding: 0;
    font-size: $middle-font-size;
    font-weight: 700;
    cursor: pointer;

    &.active {
      color: $color-tomato !important;
    }

    &:hover {
      color: $color-tomato !important;
    }
  }

  button {
    &.navbar-toggler {
      &:focus {
        outline: 0;
      }
    }
  }
}