.home {
  position: relative;
  height: 100vh;
  min-height: 100vh;
  padding: 0;
  padding-top: 110px;
  background: #000;


  .intro {
    position: relative;
    z-index: 1;
    max-width: 540px;
    margin: auto;
    text-align: center;

    h1 {
      color: #fff;
      font-size: 36px;
    }

    span {
      color: #fff;
      font-size: 16px;
    }
  }

  .social-icons {

    .social-icons__item:not(:last-child) {
      margin-right: 1.5rem;
    }

    .social-icons__icon {
      color: #fff;
      font-size: 21px;

      &:hover {
        color: #ff6347;
      }
    }
  }


  .btn-kd {
    position: relative;
    transform: perspective(1px) translateZ(0);
    display: inline-block;
    padding: 12px 35px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 30px;
    background: #ff6347;
    transition: .3s;
    vertical-align: middle;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);

    &:hover {
      transform: scale(.9);
    }
  }
}