.intro {
  position: relative;
  z-index: 1;
  max-width: 540px;
  margin: auto;
  text-align: center;

  .intro__button {
    margin-top: 1.5rem;
  }

  .intro__name {
    margin-top: 0;
    margin-bottom: .5rem;
    color: #fff;
    font-size: $title-font-size;
  }

  .intro__description,
  .intro__item {
    color: #fff;
    font-size: $middle-font-size;
  }
}