.progress-item {
  margin-bottom: 1.5rem;

  .progress-item__info {

    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }

  .progress-item__headline {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: 500;
  }
  
  .progress-item__percent {
    float: right;
    font-size: 14px;
  }
  
  .progress-item__bar {
    display: flex;
    height: 7px;
    margin-bottom: 0;
    font-size: .75rem;
    line-height: 0;
    border-radius: 15px;
    background-color: #f1f1f1;
    overflow: hidden;
    box-shadow: none;
  }
}