.scroll-to-top {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  width: 3.5rem;
  height: 3.5rem;
  color: rgba($color: $color-tomato, $alpha: .4);
  border: .2rem solid rgba($color: $color-tomato, $alpha: .4);
  border-radius: 50%;
  background: transparent;
  transition: .3s;
  cursor: pointer;

  svg {
    position: absolute;
    top: calc(50% - .7rem);
    left: calc(50% - .4rem);
    width: .8rem !important;
    height: 1.4rem;
  }

  &:hover {
    color: #fff;
    background-color: $color-tomato;
  }
}