.skill {
  margin-bottom: 1.5rem;

  .skill__info {

    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }

  .skill__headline {
    float: left;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: 500;
  }
  
  .skill__percent {
    float: right;
    font-size: 14px;
  }

  .skill__progress {
    height: 7px;
    margin-bottom: 0;
    font-size: .75rem;
    line-height: 0;
    border-radius: 15px;
    background-color: #f1f1f1;
    box-shadow: none;
  }
  
  .skill__progress-bar {
    float: left;
    width: 0;
    height: 100%;
    color: #fff;
    font-size: 12px;
    line-height: 7px;
    text-align: center;
    border-radius: 15px;
    box-shadow: none;
  }
}