.socials {
  margin-top: 1.5rem;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  .socials__item {
    display: inline-block;
  }

  .socials__item:not(:last-child) {
    margin-right: 1.5rem;
  }

  .socials__icon {
    color: #fff;
    font-size: $large-font-size;

    &:hover {
      color: $color-tomato;
    }
  }
}